<% unless @error.present? %>
  $('#image_list ul').append("<li style='float:left;margin-left:10px;'><img src='<%= @user.image_url(:thumb).to_s %>' /><br/><a href='<%= user_path(@user) %>' data-confirm='Are you sure?' data-method='delete'>Destroy</a></li>");
  $('#user_image').val('');
<% else %>
  $('#error').html("<%=@error%>");
<% end %>
$("#upload").removeAttr("disabled");
$("#spinner").hide();
$('#myModal').trigger('reveal:close');